<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Zlatan Jokes</title>
</head>
<body>
    <div class="page404">
    <div>
        <img src="/images/zlatan.jpg" alt="">
    </div>
    <h1>404: Nothing Found.</h1>
    </div>
    
</body>
</html>