<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Zlatan Jokes</title>
</head>

<body>
    <div class="picture">
        <img class="picture_main" src="/images/zlatan.jpg" alt="" />
        <div>
            <h1>All hail Zlatan !</h1>
            <p>A free REST API for random fan made Zlatan Ibrahimovic jokes.</p>
        </div>
    </div>

    <div class="content">
        <div class="api">
            <h2>API Usage</h2>
            <p>
                GET
                <a href="http://www.zlatanjokes.site/joke">http://www.zlatanjokes.site/joke</a>

                <button id="button"><i class="fas fa-redo"></i></button>
            </p>

            <p>{</p>
            <pre id="joke">  "joke": "When Zlatan goes to your place to visit you, you're the guest." </pre>
            <p>}</p>
        </div>
        <div class="information">
            <p>
                Use the API limitedly as the backend is hosted on free tier servers, I
                am broke AF 😅
            </p>
        </div>
    </div>
    <script>
        const button = document.getElementById('button');
        button.addEventListener('click',()=>{
            fetch('http://www.zlatanjokes.site/joke')
            .then(res=>{
            return res.json();
            })
            .then(data=>{
            const newJoke = data.joke;
            document.getElementById('joke').innerHTML = '  "joke": '+'"'+newJoke+'"';

            
            });

        });
    </script>
   
</body>
<footer>
    <p>
        Made over 5 cups of ☕️ by <a href="https://github.com/Asti7">Astitva</a>
    </p>
    <p>
        Leave a ⭐️ at
        <a href="https://github.com/Asti7/zlatanJokes-API"><i class="fab fa-github"></i></a>
    </p>
</footer>
</html>