html {
  background-color: #090603;
  font-family: "Roboto Mono", monospace;
  color: antiquewhite;
}

.picture_main {
  width: 20%;
}

img{
    width: 100vh;
}

.page404{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h1{
    margin-top: 50px;
}

.picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
}

a {
  color: antiquewhite;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
}
.information {
  margin-top: 40px;
}

footer {
  text-align: center;
  margin-top: 10%;
}

pre {
  font-size: 18px;
  min-width: 50px;
}

button {
  margin-left: 30px;
}

